body {
    background-color: aqua;

}

.center-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
p {
    text-align: center;
    margin: 0 auto;
}
div {
    text-align: center;
    width: 100%; 
    display: flex; 
    justify-content:first baseline;
    
}

div1 {
    width: 20%;  
    float: left; 
    margin-left: 3%;
    
   
}
div2 {
    width: 15% ; 
    float: left; 
    margin-left: 30%; 
    margin-top: 3%;
}


table {
 
    border: 1px solid;
    width: 100%; 
    margin: left 18%; 
    text-align: center; 
    box-shadow: 10px 5px 5px lightseagreen; 
    outline-style: double;
}
tr {
    border: 1px solid black;
    
}
tr:hover {background-color: skyblue;
}
th{
    border: 1px solid black;
}